{"configSettings":[{"appID":"SharedServerToken","serverToken":"GP7DMQ2IXNVSR5I7ARLPQVMXB7L4JZD3"},{"appID":"2145071712904620","serverToken":"DLDZMWOJUGPHRCKEN6HRHJSHUHCDCZRV"},{"appID":"892233770145173","serverToken":"VC6C2BAKLXDOJGI6QRAM3LX3KAOTRFVS"},{"appID":"1800250000632621","serverToken":"QIYPDOKIVJXLWPIVZYPZPCHHJNOLX5GS"},{"appID":"1399370638469015","serverToken":"GP7DMQ2IXNVSR5I7ARLPQVMXB7L4JZD3"}]}